.text-center{
    text-align: center;
}
.bg{
    background-color: aqua;
}
.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}